@import "variables";

@mixin vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.15;
  color: $text-color;
}

header {
  background-color: $primary-color;
  overflow: hidden;
  height: 150px;
}

ul {
  float: left;
  margin-left: 100px;
  margin-bottom: 0;
  li {
    display: inline;
    img{
      padding: 20px 0;
    }
    a {
      text-decoration: none;
      color: $text-color;
      font-size: 15px;
      margin: 40px;
      position: relative;
      bottom: 65px;
    }
    a:hover {
      color: $secondary-color;
      border-bottom: 1px solid $text-color;
      padding-bottom: 15px;
    }
  }
}

button {
  text-transform: uppercase;
  background-color: inherit;
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 20px;
}

.hero {
  background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=0404a6987743c9f447f3abde5e2a34d8");
  height: 500px;
  background-size: cover;
    .hero-text {
      text-transform: uppercase;
      text-align: center;
      @include vertical-center;
      h1 {
        font-size: 60px;
        font-weight: normal;
      }
      h3 {
        font-size: 20px;
        font-weight: normal;
      }
      button:hover {
        background: $secondary-color;
            border-color: $secondary-color;
      }
    }
}

.banner {
  background-color: $secondary-color;
  height: 200px;
  .banner-text {
    text-transform: uppercase;
    text-align: center;
    h3 {
      font-size: 25px;
      font-weight: normal;
      margin: 0 200px;
      padding-top: 30px;
    }
    button:hover{
      background: $text-color;
      border-color: $text-color;
    }
  }
}
